<h1>Create a Team and Heroes!</h1>

<form action='/teams' method="POST">
  <label for"team">Team Name:</label>
    <input id="team" name="team[name]" type="text">
  <label for"team_motto">Team Name:</label>
    <input id="team_motto" name="team[motto]" type="text">
    <input id="member1_name" type="text" name="team[members][][name]">
