<h1>Create a Team and Heroes!</h1>

<form action='/teams' method="POST">
  <label for="team">Team Name:</label>
    <input id="team" name="team[name]" type="text">
  <label for="team_motto">Team Name:</label>
    <input id="team_motto" name="team[motto]" type="text">
  <label for="member1_name">Hero's Name</label>
    <input id="member1_name" type="text" name="team[members][][power]">
  <label for="member1_power">Hero's Power</label>
    <input id="member1_power" type="text" name="team[members][][power]">
  <label for="member1_bio">Hero's Biography</label>
    <input id="member1_bio" type="text" name="team[members][][bio]">
